@charset "utf-8";
.navbar{
  height: 80px;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid rgba(0,0,0,.24);
}
.navbar .container{
  padding: 10px 0;
}
.navbar .navbar-logo{
  float: left;
}
.navbar .navbar-logo img{
  width: 180px;
  height: 60px;
}
.navbar .navbar-nav{
  float: left;
  padding-left: 75px;
}
.navbar .navbar-nav li.nav-item{
  float: left;
  margin:0 25px;
  font-size: 14px;
  color: #000;
  line-height: 60px;
  font-weight: bold;
  cursor: pointer;
}
.navbar .navbar-right{
  float: right;
}
.navbar .navbar-right li.nav-item{
  float: left;
  margin:0 15px;
  font-size: 14px;
  color: #000;
  line-height: 60px;
  font-weight: bold;
  cursor: pointer;
}
.navbar .navbar-right li.registerBtn{
  background: #000;
  color: #fff;
  padding: 0 30px;
  line-height: 46px;
  margin:7px 0 7px 15px;
}

